<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:8111/wcfSendServer/metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SocketUdpServer.WcfServer.wcfSendServer" behaviorConfiguration="metadataBehavior">
        <endpoint address="http://127.0.0.1:8111/wcfSendServer" binding="wsHttpBinding"
                            contract="SocketUdpServer.WcfServer.IwcfSendServer"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>