#leftmenu {
	left: 0px; width: 200px; height: auto; padding-top: 0px; font-size: 13.5px; position: absolute; background-color: whitesmoke;
}
#leftmenu h3 {
	margin: 10px 0px 0px; padding-top: 3px; padding-bottom: 2px; padding-left: 3px; font-size: 13.5px; border-top-color: gainsboro; border-top-width: 1px; border-top-style: solid;
}
#leftmenu ul {
	list-style: none; margin: 0px 0px 10px 5px; padding-left: 5px; font-size: 13.5px;
}
.News {
	font-size: 13.5px;
}
#blog-news {
	font-size: 13.5px;
}
#blog-sidecolumn {
	font-size: 13.5px;
}
